<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- route for shop länken -->

<h1 style="margin-left: 2em">SHOP</h1>
<nav class="nav">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Shop</a
  >
  <br />
  <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Cart</a
  >
  <br />
  <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Admin</a
  >
</nav>

<router-outlet></router-outlet>
